main {
    background-color: $color-claro;
    .main-container {
        img {
            width: 600px;
            padding: 10px;
            margin-left: 5%;
        }
        @include ancho;
        @include title;
        .platzi__video {
            display: flex;
            justify-content: space-between;
            border: 1px solid $color-oscuro;
            border-radius: 20px;
            color: $color-oscuro;
            margin: 20px;
            &--text {
                width: 500px;
                padding: 5% 0 0 20px;
                font-family: $fuente2;
                h3 {
                    font-size: 25px;
                }
                p {
                    font-size: 20px;
                }
            }
        }
    }
}